# Syntax

## Syntax
- Object types
    - String
    - Int
    - Float
    - List
    - Tuple
    - Dictionary
- Conditionals
- Loop
- Dictionary

## Strings
- Any group of characters recognized as text
- Written between **single quotes**, **double quotes** or **triple quotes**.

In [1]:
name = 'David'
age = '34'
intro = "Hi my name is " + name + ".\nI'm " + age + " years old."
intro

"Hi my name is David.\nI'm 34 years old."

In [2]:
print(intro)

Hi my name is David.
I'm 34 years old.

In [3]:
new_intro = """Hello!
I'm David.
What's up?"""
new_intro

"Hello!\nI'm David.\nWhat's up?"

In [4]:
print(new_intro)

Hello!
I'm David.
What's up?

- You can call any character in the string.

In [5]:
intro[0]

'H'

In [6]:
intro[1]

'i'

In [7]:
intro[3]

'm'

- Strings are **immutable**.
- But you can split a string into words.

In [8]:
intro.split()

['Hi', 'my', 'name', 'is', 'David.', "I'm", '34', 'years', 'old.']

- Or into any other chuncks using a character.

In [9]:
new_intro.split('\n')

['Hello!', "I'm David.", "What's up?"]

- Run this code. What is happening?

In [10]:
intro[2:]

" my name is David.\nI'm 34 years old."

In [11]:
intro[-2:]

'd.'

In [12]:
intro[:2]

'Hi'

In [13]:
intro[:-2]

"Hi my name is David.\nI'm 34 years ol"

In [14]:
intro[::2]

"H ynm sDvd\n' 4yasod"

In [15]:
intro[::-2]

'.l re 3mI.ia iea mi'

In [16]:
intro[::3]

'HmnesadI  a d'

- It requires a little more work to split a string into letters.

In [17]:
[letter for letter in name]

['D', 'a', 'v', 'i', 'd']

In [18]:
[letter for letter in intro]

['H',
 'i',
 ' ',
 'm',
 'y',
 ' ',
 'n',
 'a',
 'm',
 'e',
 ' ',
 'i',
 's',
 ' ',
 'D',
 'a',
 'v',
 'i',
 'd',
 '.',
 '\n',
 'I',
 "'",
 'm',
 ' ',
 '3',
 '4',
 ' ',
 'y',
 'e',
 'a',
 'r',
 's',
 ' ',
 'o',
 'l',
 'd',
 '.']

- Let's combine them again.

In [19]:
myletters = [letter for letter in intro]

In [20]:
''.join(myletters)

"Hi my name is David.\nI'm 34 years old."

In [21]:
'\n'.join(myletters)

"H\ni\n \nm\ny\n \nn\na\nm\ne\n \ni\ns\n \nD\na\nv\ni\nd\n.\n\n\nI\n'\nm\n \n3\n4\n \ny\ne\na\nr\ns\n \no\nl\nd\n."

## Int
- Integers
- You can do mathematical operations using these.
    - Usual suspects: + - * /
    - Exponentiate: **
    - Remainder: %
    - Whole divison: //

In [22]:
whole = 5//3
remainder = 5%3

In [23]:
"""Five divided by three is %d and %d fifths""" % (whole, remainder)

'Five divided by three is 1 and 2 fifths'

- You can assign numbers using different operators.

In [24]:
five = 5
five += 1
five

6

In [25]:
five /= 3
five

2.0

In [26]:
five -= 2
five

0.0

## Float
- **Real numbers**.
- Written by adding the decimal to an integer.

In [27]:
12.0/5

2.4

In [28]:
float(7)

7.0

In [29]:
type(2.*8)

float

## List
- Collection of any type objects - even lists

In [30]:
myletters

['H',
 'i',
 ' ',
 'm',
 'y',
 ' ',
 'n',
 'a',
 'm',
 'e',
 ' ',
 'i',
 's',
 ' ',
 'D',
 'a',
 'v',
 'i',
 'd',
 '.',
 '\n',
 'I',
 "'",
 'm',
 ' ',
 '3',
 '4',
 ' ',
 'y',
 'e',
 'a',
 'r',
 's',
 ' ',
 'o',
 'l',
 'd',
 '.']

In [31]:
type(myletters)

list

- Lists can be changed, and include multiple object types

In [32]:
myletters.append(5)

In [33]:
myletters[-1]

5

In [34]:
type(myletters[-1])

int

In [35]:
myletters[0] = 'Orange'

- Indexing starts at 0!

In [36]:
# IndexError: list index out of range
# myletters[len(myletters)]

- You can insert into any position

In [37]:
myletters[:5]

['Orange', 'i', ' ', 'm', 'y']

In [38]:
len(myletters)

39

In [39]:
myletters.insert(2, '!')

In [40]:
myletters[:5]

['Orange', 'i', '!', ' ', 'm']

In [41]:
len(myletters)

40

- And remove from any position

In [42]:
myletters[:5]

['Orange', 'i', '!', ' ', 'm']

In [43]:
len(myletters)

40

In [44]:
myletters.pop(1)

'i'

In [45]:
myletters[:5]

['Orange', '!', ' ', 'm', 'y']

In [46]:
len(myletters)

39

## Tuples
- Tuples are like lists - combination of any objects
- But are immutable
- Not very common, but very useful sometimes

In [47]:
tup = (1, 6, 5, 'Apple')

In [48]:
tup[1]

6

In [49]:
# TypeError: 'tuple' object does not support item assignment
# tup[1] = 9

In [50]:
# AttributeError: 'tuple' object has no attribute 'append'
# tup.append(9)

## Dictionary
- It is what it sounds like.
- Here is how you create one:

In [51]:
myDict = {'name': 'David', 'last_name': 'Carlson', 'age': 34}

- Unlike lists, there is no order to elements.
- You can call elements using keys.

In [52]:
myDict

{'name': 'David', 'last_name': 'Carlson', 'age': 34}

In [53]:
myDict.keys()

dict_keys(['name', 'last_name', 'age'])

In [54]:
myDict.values()

dict_values(['David', 'Carlson', 34])

In [55]:
myDict['last_name']

'Carlson'

In [56]:
myDict['middle_name'] = 'George'

In [57]:
myDict

{'name': 'David', 'last_name': 'Carlson', 'age': 34, 'middle_name': 'George'}

- These are particularly useful when we start defining classes.

## Conditionals
- Perform an operation (or several) if condition is met (or not)

In [58]:
x = 2

if x == 1:
    print('x is one')
elif x == 2:
    print('x is two')
else:
    print('x is neither one nor two')

x is two

- Can be conditions (<, >, <=, >=, ==, !=) or boolean (True or False)
- Multiple lines of code:
    - Indentation matters!
    - Consistency is important, but exactly 4 spaces is 'Pythonic'
    - Will cause errors
    - Even an empty line with spaces can cause errors

## Loops
- Two types of loops: **for** and **while**
- **for loop**: loops over some list
- **while loop**: loops while condition is true
- Can nest loops (and conditionals, etc.)

In [59]:
even_numbers = []

for i in range(1, 10):
    if i%2 == 0:
        even_numbers.append(i)
        
even_numbers

[2, 4, 6, 8]

In [60]:
for letter in 'word': print(letter)

w
o
r
d

In [61]:
sum([.05**i for i in range(1, 10)])

0.05263157894726564

In [62]:
while len(myletters)>1:
    myletters.pop()

In [63]:
myletters

['Orange']

## Quick exercise
- Write code that saves the first ten numbers of the Fibonacci sequence to a list:
    - With a for loop
    - With a while loop
- A while loop can always do what a for loop does, but syntax is simpler

### For loop

In [64]:
fibonacci = [1, 1]

for i in range(2, 10):
    fibonacci.append(fibonacci[i-2] + fibonacci[i-1])
        
fibonacci

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

### While loop

In [65]:
fibonacci = [1, 1]

while len(fibonacci) < 10:
    fibonacci.append(fibonacci[-2] + fibonacci[-1])
    
fibonacci

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

## Functions
- They help write cleaner code.
- Keep them simple.
- You can return any type of object.
- Don't forget to add return for output.

In [66]:
def addSquares(x, y):
    return x**2+y**2

addSquares(3, 4)

25

- Change the Fibonacci code to find first _n_ numbers of sequence

In [67]:
def fibonacci_func(n):
    fibonacci = [1, 1]
    
    for i in range(0, n-2):
        fibonacci.append(fibonacci[i] + fibonacci[i+1])
        
    return fibonacci

fibonacci_func(15)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]