# APIs (Application Programming Interfaces)

## KocPythonFall2021/inclass/5APIs/geo.py

In [1]:
!pip install geopy

Requirement already satisfied: geopy in c:\users\melihcanyardi\anaconda3\lib\site-packages (2.2.0)
Requirement already satisfied: geographiclib<2,>=1.49 in c:\users\melihcanyardi\anaconda3\lib\site-packages (from geopy) (1.52)

In [2]:
from geopy.geocoders import Nominatim

In [3]:
geolocator = Nominatim(user_agent = 'myardi21@ku.edu.tr') #use your email address
location = geolocator.geocode('Washington, DC')

print(location.address)
print((location.latitude, location.longitude))

Washington, District of Columbia, United States
(38.8950368, -77.0365427)

In [4]:
location2 = geolocator.geocode('Mexico City')

print(location2.address)
print((location2.latitude, location2.longitude))

Ciudad de México, México
(19.4326296, -99.1331785)

### Distance between capitals

In [5]:
from math import radians, sin, cos, acos

def distance(loc1, loc2):
    return 6371.01 * acos(sin(radians(loc1.latitude))*sin(radians(loc2.latitude)) + cos(radians(loc1.latitude))*cos(radians(loc2.latitude))*cos(radians(loc1.longitude) - radians(loc2.longitude)))

In [6]:
distance(location, location2)

3030.9806813568916

### TODO: Create a distance matrix of 5 capitals

In [7]:
import numpy as np
import pandas as pd

In [8]:
ankara = geolocator.geocode('Ankara')
paris = geolocator.geocode('Paris')
berlin = geolocator.geocode('Berlin')
tokyo = geolocator.geocode('Tokyo')
moscow = geolocator.geocode('Moscow')

In [9]:
capitals = [ankara, paris, berlin, tokyo, moscow]
capital_names = ['Ankara', 'Paris', 'Berlin', 'Tokyo', 'Moscow']

In [10]:
distances = []

for capital in capitals:
    for capital_2 in capitals:
        distances.append(distance(capital, capital_2))

In [11]:
distance_matrix = pd.DataFrame(np.array(distances).reshape((5, 5)), index=capital_names, columns=capital_names)
display(distance_matrix)

             Ankara        Paris       Berlin        Tokyo       Moscow
Ankara     0.000000  2599.857688  2038.295752  8769.084311  1794.671002
Paris   2599.857688     0.000000   878.196739  9716.560512  2488.109940
Berlin  2038.295752   878.196739     0.000000  8920.778106  1609.952086
Tokyo   8769.084311  9716.560512  8920.778106     0.000000  7482.789816
Moscow  1794.671002  2488.109940  1609.952086  7482.789816     0.000000